* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-area: 3;
  grid-template-columns: 3fr 1fr;
    /* font-family: "https://fonts.google.com/specimen/Barlow+Semi+Condensed"; */
  font-size: 13px;
  padding: 70px;
}

.h2 {
  font-weight: 300;
}
  
.left-part-1 {
  display: grid;
  grid-area: 2;
  grid-template-columns: 2fr 1fr;
}

.left-top1-inner{
  display: grid;
  grid-template-columns: [labels]auto [controls]1fr;
  grid-auto-flow: row;
}

.left-top1-inner>img{
  grid-column: labels;
  grid-row: auto;
  border-radius: 2rem ;
}

.left-top1-inner>h1{
  margin-top: -0.1rem;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

.left-top1-inner>p{
  grid-column: controls;
  grid-row: auto;
  opacity: 0.7;
  margin-top:-1.5rem;
  padding-left: 10px;
}
  
.left-top1-bottom2>p{
  opacity:0.7;
}
  
.left-part-1>p {
  opacity: 0.7;
}
  
.left-part-2 {
  display: grid;
  grid-area: 2;
  grid-template-columns: 1fr 2fr;
}
  
.right-part {
  background-color: white;
  border-radius: .5rem;
  margin: 10px;
  padding:20px;
  border: .5px solid hsl(218, 52%, 89%);
  box-shadow: 10px 10px 8px lightgrey ;
}
  
.left-top1-bottom2 {
  background-color: hsl(263, 55%, 52%);
  background-image: url('./assets/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
  color: white;
  background-position: top right 50px;
  padding:20px;
}
  
.left-top2-inner>img{
  grid-column: labels;
  grid-row: auto;
  border-radius: 2rem ;
}
  
.left-top2-inner>h1{
  margin-top: -0.1rem;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

.left-top2-inner>p{
  grid-column: controls;
  grid-row: auto;
  opacity: 0.7;
  margin-top:-1.5rem;
  padding-left:10px;
}

.left-top2-bottom1>p{
  opacity:0.7;
}
  
.left-top2-inner{
  display: grid;
  grid-template-columns: [labels]auto [controls]1fr;
  grid-auto-flow: row;
}
  
.left-top1-bottom3 {
  background-color: hsl(219, 29%, 14%);
  box-shadow: 10px 10px 8px lightgrey;
  margin: 10px;
  border-radius: .5rem;
  padding:20px;
}
  
.left-bottom1-inner{
  display: grid;
  grid-template-columns: [labels]auto [controls]1fr;
  grid-auto-flow: row;
}

.left-bottom1-inner>img{
  grid-column: labels;
  grid-row: auto;
  border-radius: 2rem ;
}

.left-bottom1-inner>h1{
  margin-top: -0.1rem;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

.left-bottom1-inner>p{
  grid-column: controls;
  grid-row: auto;
  opacity: 0.7;
  margin-top:-1.5rem;
  padding-left:10px;
}
  
.left-bottom3-inner{
  display: grid;
  grid-template-columns: [labels]auto [controls]1fr;
  grid-auto-flow: row;
  border-radius: 1rem;
}

.left-bottom3-inner>img{
  grid-column: labels;
  grid-row: auto;
  border-radius: 2rem;
}

.left-bottom3-inner>h1{
  margin-top: -0.1rem;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

.left-bottom3-inner>p{
  grid-column: controls;
  grid-row: auto;
  opacity: 0.7;
  margin-top:-1.5rem;
  padding-left:10px;
}

.left-top1-bottom3>p{
  opacity:0.7;
}
  
.right-part-inner{
  display: grid;
  grid-template-columns: [labels]auto [controls]1fr;
  grid-auto-flow: row;
}

.right-part-inner>img{
  grid-column: labels;
  grid-row: auto;
  border-radius: 2rem;
}

.right-part-inner>h1{
  margin-top: -0.1rem;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

.right-part-inner>p{
  grid-column: controls;
  grid-row: auto;
  opacity: 0.7;
  margin-top:-1.5rem;
  padding-left:10px;
}
  
.right-part>h2{ 
  color: hsl(217, 19%, 35%);
}
  
.right-part>p{
  opacity:0.7;
}
  
.left-top2-bottom1>p{
  opacity:0.7;
}
  
.left-top2-bottom1 {
  background-color: white;
  margin: 10px;
  border-radius: .5rem;
  padding:20px;
  border: .5px solid hsl(218, 52%, 89%);
  box-shadow: 10px 10px 8px lightgrey;
}
  
.left-top2-bottom1>h2{
  color: hsl(217, 19%, 35%);
}

.left-top1-bottom2 {
  margin: 10px;
  box-shadow: 10px 10px 8px lightgrey;
  border-radius: .5rem;
}

.left-top2-bottom-1 {
  margin: 10px;
  border-radius: .5rem;
  background-color: hsl(217, 19%, 35%);
  box-shadow: 10px 10px 8px lightgrey;
  padding:20px;
  color: white;
}

.left-top1-bottom3 {
  color: white;
}